.empty {
    width: 120px;
    height: 32px;
    border-radius: var(--border-radius);
    background-color: var(--green);
}

.small {
    width: 32px;
    height: 32px;
}
.blue{
    background-color: var(--blue);
}
.green{
    background-color: var(--green);
}