.noteWrapper {
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    cursor: pointer;
}

.noteTitle {
    font-size: 16px;
    margin-bottom: 5px;
}

.noteText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selected {
    background-color: var(--selected-note-background);
}