.formWrapper {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
flex: 2;
}

.controls {
    display: flex;
    gap: 8px;
}

.formHeaderWrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}

.form {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: 5% 3% 92%;
}

.formButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px;
}

