.button{
  overflow: hidden;
  border: none !important;
}
.save {
  background-color: var(--green);
  color: white;
}

.delete {
  background-color: var(--red);
  color: white;
}

.buttonLabel {
  width: 300px;
}

.icon {
  padding: 10px;

}
.hasBorder{
  border-left: 1px solid blue;

}