.newCategory {
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    gap: 5px;
}

.input {
    background-color: var(--white-dark);
    border: none;
    height: 100%;
}

.buttons {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}